{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'css/create.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <div class="block">
                <form action="{% url 'newalbum' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <h1>글 쓰기</h1>
                        <hr>
                        <br>
                        <p>사진</p>
                        <div class="filebox">
                            <label for="id_image">upload</label>
                            {{form.image}}
                        </div>
                        <br><br>
                        <p>제목</p>
                        {{form.title}}
                        <br><br>
                        <p>설명</p>
                        {{form.description}}
                    </table>
                    <br><br><br><br><br>
                    <input class="btn" type="submit" value="제출하기">
                </form>
        </div>  
    </body>

</html>